.maninHeader{
    background-color: #bf1e2e;
    height: 10vh;
}
.logo{
    position:relative;
    height: 8vh;
    width: 105px;
    cursor: pointer;
    font-size: 2.5rem;
}

.text-right{
    margin-bottom: 3.3vh;
}
.btnMain{
    font-size: 20px;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}
.btnMain:hover{
    color: black;
}
.modal-footer button{
    background-color: #bf1e2e;
    color:white
}
th{
    color:#bf1e2e;
}

.modal_css{
    font-family: 'Montserrat', sans-serif;
}