.logo{
    position:relative;
    top: 2vh;
    height: 8vh;
    width: 50vw;
    cursor: pointer;
    font-size: 2rem;
    font-family: 'Bungee Spice', cursive;
}
.header-title{
    position: relative;
    top: 8px;
    left:25px; 
    font-family: 'WindSong', cursive;
    font-size: 32px;
    color: black;
}
.btnHead{
    margin-left: 10px;
}

.active, .btnHead:hover{
    color: #bf1e2e;
}

hr{
    margin: 0;
}
.prodLogo{
    position: relative;
    top: 20px;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:aliceblue;
    margin-bottom: 3vw;
    margin-left: 43vw;
}

.form-control{
    width:30%;
    margin: 10px 0;
}